@if (TempData["success"] != null)
{
    @* <div class="alert alert-success container mt-2 rounded-2">
        @TempData["success"]
    </div> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success('@TempData["success"]');
    </script>
}

@if (TempData["error"] != null)
{
    @* <div class="alert alert-danger container mt-2 rounded-2">
        @TempData["error"]
    </div> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.error('@TempData["error"]');
    </script>
}

@* Toastr Notifications by: https://codeseven.github.io/toastr/ *@